* {
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
}

body {
    background: #000;
}

header {
    height: 64px;
    border-bottom: 1px solid #888;
    background: #582;
    padding: 12px;
}

nav {
    background: #555;
    float: left;
    padding: 12px;
    width: 160px;
    height: calc(100vh - 64px);
}

main {
    float: left;
    padding: 12px;
    max-width: calc(100vw - 160px);
    height: calc(100vh - 64px);
}

.board {
    text-align: center;
    border: 1px solid #f00;
    display: inline-block;
    padding: 24px;
    border-radius: 8px;
    margin: 8px;
}

.title {
    font-size: 24px;
    font-weight: bold;
}

.subtitle {
    font-size: 24px;
    color: #777;
}